<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.wzh.Mapper.ShareMapper">

    <resultMap id="shareRecordVO" type="com.sicnu.wzh.Entity.VO.ShareRecordVO">
        <id property="id" column="share_id"></id>
        <id property="xId" column="x_id"></id>
        <id property="xName" column="x_name"></id>
        <id property="xType" column="x_type"></id>
        <id property="fromUserId" column="from_user_id"></id>
        <id property="shareType" column="share_type"></id>
        <id property="extractCode" column="extract_code"></id>
        <id property="createTime" column="create_time"></id>
        <id property="expireTime" column="expire_time"></id>
        <id property="status" column="status"></id>
        <id property="extractCount" column="extract_count"></id>
    </resultMap>

    <select id="selectShareRecordVOByUserId" resultMap="shareRecordVO">
        SELECT share_id,x_id,x_name,x_type,from_user_id,share_type,extract_code,create_time,expire_time,status,
               (select count(extract_record.share_id) from extract_record where extract_record.share_id = share_record.share_id) extract_count
        FROM `share_record` where from_user_id = #{userId}
    </select>

</mapper>
